<div class="container mt-5">
    <div class="row">
        <div class="col align-content-center mt-5">
            <table class="table table-striped table-dark">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Age</th>
                    <th scope="col">Address</th>
                    <th scope="col">Date & Time</th>
                    <th scope="col">Email</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of Users">
                    <td>{{user.name}}</td>
                    <td>{{user.age}}</td>
                    <td>{{user.address}}</td>
                    <td>{{user.date}}</td>
                    <td>{{user.email}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
        <div class="col align-content-center mt-3">
            <button class="btn btn-outline-success rounded-pill" style="width: 100%" onclick="createPdf()">Create PDF File</button>
        </div>
    </div>
</div>